{% extends "layout.html.twig" %}
{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/Exia.css') }}" rel="stylesheet">
{% endblock stylesheets %}
{% block tittle %}<title>Ecole</title>{% endblock tittle %}

{% block all %}

	<div id="contenu">
		<div id="photo">
			<img src="../img/exia_nancy.png">
		</div>
		<div id="text">
			<div id="ligne">
				<div id="text_ligne">
				<ul class="Titre">NANCY</ul>
				<p >Afin de répondre à une demande des grandes entreprises du secteur informatique, l’exia.CESI a développé un profil d’<B>ingénieur en informatique</B> en adéquation avec les besoins de ce domaine très spécialisé. Découvrez le cursus d’<B>ingénieur en informatique à Nancy</B>.
				</p>
				</div>
			
			</div>
		
	<ul class="Titre">DEVENIR INGÉNIEUR EN INFORMATIQUE À NANCY</ul>
	<p class="text">
	Idéalement situés sur le plateau de Vandœuvre-lès-Nancy, le campus de l’exia.CESI offre aux étudiants diverses perspectives professionnelles ainsi que la possibilité de développer une vie étudiante et associative, active et constructive.</p>
	<p class="text">La formation d’<B>ingénieur en informatique</B> se compose de 5 années d’études accessibles à partir du bac (intégration possible en 2ème, 3ème et 5ème année).</p>
	<p class="text">Pendant leur formation, les étudiants de l’exia.CESI suivent des cours afin de développer leurs connaissances scientifiques, techniques et informatiques, mais surtout une formation leur permettant de mettre en pratique leurs savoirs dans le monde de l’entreprise, à travers des projets et des stages en entreprise.</p>
	<ul class="Titre">LE DIPLÔME D’INGÉNIEUR EN INFORMATIQUE DE NANCY</ul>
	<p class="text">Au terme de la formation, les étudiants sont titulaires d’<B>un diplôme d’ingénieur CESI, spécialité informatique</B>, reconnu par la Commission des Titres d’Ingénieur. Gage de compétences et d’un savoir-faire unique, ce diplôme reconnu par les grandes entreprises du secteur informatique, ouvre les portes du marché de l’emploi.</p>

<div id="coordonne" >
<ul class="Titre">NOUS CONTACTER</ul>
<div  class="row" style="display: block; padding: 0;  vertical-align: middle; ">
	<div  class="col-sm-6">
		<ul><ul  class="sous_titre">Téléphone :</ul></ul>
		<p class="text"> 03 83 15 18 60</p>
		<ul><ul  class="sous_titre">Adresse :</ul ></span></ul>
		<p class="text"> 14-16 Allé de la forêt de la Reine,<br> 54500, Vandœuvre-lès-Nancy</p>
		<ul><ul  class="sous_titre">Site web :</ul></ul>
		<p class="text" style="cursor: pointer; text-decoration: none;" > <a style ="color:black; text-decoration: none;" href="https://exia.cesi.fr/ecole-informatique-nancy/">https://exia.cesi.fr/ecole-informatique-nancy/</a></p>
			</div>
	<div  class="col-sm-6" align="center">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2635.5689361958966!2d6.128385316105052!3d48.656361079268244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4794a23f4fa43a27%3A0xcc0c6b6a1c2d2a21!2sexia.CESI+Nancy!5e0!3m2!1sfr!2sfr!4v1492602636136&key=AIzaSyANoK93SXbg01_pW5qxc04a3RPZGgD8nuc" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
		
	</div>
</div>
</div>
</div>


{% endblock all %}