body {
        width: auto;
        background-color: #d9d9d9;
    }
    
    .all {
        background: rgba(181, 12, 27, 1);
        max-width: 1200px;
        margin: auto;
    }
    
    .col-xs-3 {
       
        width: 33%;
        align-items: center;
    }
    


 
    .col-xs-2 {
         
        float: right;
        width: 50%;
        margin-top: 20px;
    }
 
    .imageL {
        width: 50%;
        min-width: 60px;
        max-width: 70px;
    }
    
    #titre {}
    
    #image {
        width: 10%;
        min-width: 90px;
    }
    
    h1 {
        text-shadow: -1px -1px #000000, 1px 1px #000001, -3px 0 4px #000;
        font-family: Arial, Helvetica, sans-serif;
        color: #000000;
        font-weight: lighter;
        -moz-box-shadow: 2px 2px 6px #000000;
        text-align: center;
        display: block;
    }
    
    header {
        background-color: #d9d9d9;
    }
    /*
@media(max-width:1200px) {
   

    #nav3.navbar .navbar-brand {
   
        display: none;
    }
    #nav3.navbar .navbar-nav>.nav-item {
 
        display: none;
    }
    #nav3.navbar .navbar-nav {
   
        display: none;
    }
    #nav3.navbar {
   
        display: none;
    }
  /* #nav1.navbar .navbar-brand {
   
        display: none;
    }
    #nav1.navbar .navbar-nav>.nav-item {
 
        display: none;
    }
    #nav1.navbar .navbar-nav {
   
        display: none;
    }*/
    /* #nav1.navbar {
   
        display: none;
    }
    
}*/
.navbar-right{
    margin-right: 1px;
}
    
    @media(max-width:8000px) {
        #nav2.navbar {
            display: block;
        }
        #nav1.navbar {
            display: none;
        }
        #nav3.navbar {
            display: none;
        }
    }
    
 
    
    @media (max-width: 768px) {
        #nav1.navbar {
            display: block;
        }
        #nav2.navbar {
            display: none;
        }
        #nav3.navbar {
            display: none;
        }
        #nav1.navbar .navbar-header {
            float: none;
        }
        #nav1.navbar .navbar-left,
        .navbar-right {
            float: none !important;
        }
        #nav1.navbar .navbar-toggle {
        display: block;
           float:left;
    }
        #nav1.navbar .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        }
        #nav1.navbar .navbar-fixed-top {
            top: 0;
            border-width: 0 0 1px;
        }
        #nav1.navbar .navbar-collapse.collapse {
            display: none!important;
        }
        #nav1.navbar .navbar-nav {
            float: none!important;
            margin-top: 7.5px;
        }
        #nav1.navbar .navbar-nav>li {
            float: none;
        }
        #nav1.navbar .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    /*

    #nav2.navbar .navbar-nav>.nav-item {
 
        display: none;
    }
    #nav2.navbar .navbar-nav {
   
        display: none;
    }
      

    #nav3.navbar .navbar-brand {
   
        display: none;
    }
    #nav3.navbar .navbar-nav>.nav-item {
 
        display: none;
    }
    #nav3.navbar .navbar-nav {
   
        display: none;
    }

    #nav1.navbar .navbar-brand {
        float:none;
        display: block;
    }
    #nav1.navbar .navbar-nav>.nav-item {
        float: none;
        margin-left: .1rem;
    }
    #nav1.navbar .navbar-nav {
        float:none !important;
    }
*/
#contenu
{
    display: flex;
    max-width: 1100px;
    margin:auto;
    background-color: #ffffff;
}
#Recherche
{
    max-width: 1100px
    background-color: #ffffff;
    text-align : center;
    margin: auto auto 10px auto;
}
#Recherche input
{
    width: 600px;
}
#recherche
{
    background-color: #ffffff;
    width: 20%;
    min-width: 150px;
    min-height: 100%;
    border-width: 0px 2px 0px 0px;
    border-style: solid;
}
/*#recherche form
{
    display: block;
}
#recherche input
{
    width: 80%;
    margin : auto;
    margin-bottom: 5px;
}
.proposition
{
    color: #000000;
}
.proposition:hover
{
    color: red;
}
#recherche input[type=range] 
{
    -webkit-appearance: none;
    background-color: silver;
    height:5px;
    -webkit-border-radius: 1em;
    }
#recherche input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #660066;
    width: 15px;
    height: 15px;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}
#amount
{
    width: 10%;
    margin-left : 47%;
}*/

#wrapper{
    width: 100%;
}

#sidebar-wrapper {
    width: 100%;
    overflow-y: auto;
    background: #ffffff;
}
/* Sidebar Styles */
.detail
{
    display: block;
}
.sidebar-nav {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: gray;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000000;
}
.sidebar-nav li ul {
    display: none;
    list-style-type: disc;
    border: none;

}
.sidebar-nav li ul li{
    border: none;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    border-width: 0px 0px 0px 5px;
    border-style: solid;
    border-color: gray;
    color: gray;
    background-color: lightgray;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #000000;
    background: none;
    border : none;
}
.sidebar-nav li:hover > ul{
    display: block;
}

#catalogue
{
    width: 80%;
    padding: 5px;
    align-items: center;
}
.image1
{
    max-width: 100%;
    min-width: 290px;
    margin: auto;
    display: block;
}
.image1 a
{
    color: #000000;
    width: 100%;
    height: 100%;
    padding-bottom: 10%; 
}
.cadre_image_produit
{
    height: 140px;
    width: 250px;
}
.prix
{
    font-family: arial;
    color: rgb(194, 36, 42);
    font-weight: bold;
}
.stock1
{
    font-family: arial;
    color: #009933;
    font-weight: bold;
}
.stock2
{
    font-family: arial;
    color: rgb(194, 36, 42);
    font-weight: bold;
}
.achat
{
    background-color: #cc0000;
    color: #ffffff;
    border-color: #cc0000;
    border-radius: 5px;
    box-shadow: none;
    border-style: solid;
    position: absolute;
    bottom: 10%;
}
.panier
{
    max-height: 10px;
    max-width: 10px;
    margin: auto;
    margin-right: 5px;
}
.delimitation
{
    border-style: solid;
    width: 90%;
    border-width: 1px 0 0 0;
    border-color: #000000;
}
.article
{
    width: 100%;
    min-height: 255px;
}
.article button
{
    width: 80%;
    margin: auto;
    display: none;
}
.article:hover > button
{
    display: block;
}
.text
{
    padding-top: 1%;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 1%
    color : #000000;
}
#vetement
{
    display: block;
}

@media screen and (max-width: 600px)
{
    #contenu
    {
        display: block;
        max-width: 100%;
        margin: auto;
    }
    .cadre_image_produit
    {
        width: 100%;
        height: 100%;
    }
    #recherche
    {
        background-color: #ffffff;
        width: 100%;
        min-width: 150px;
        min-height: 100%;
    }
    #Recherche input
    {
        max-width: 100%;
    }
    .image1
    {
        min-width: 100%;
        min-height: 100%;
        margin: 1% 0% 1% 0%;
        border-width: 0px 1px 0px 0px;
        border-style: solid;
    }
    #catalogue
    {
        width: 100%;
        padding: 5px;
        align-items: center;
    }
    body
    {
        background-color: #ffffff;
    }
}
.thumbnail{
    text-decoration: none;
    /*border-width: 0px;*/
}

.thumbnail:hover
{
   border: 1px solid;
   border-color: gray ;
}

 a.thumbnail:hover {
    border-color: gray;
}