
    .all {
        background: rgba(181, 12, 27, 1);
        max-width: 1200px;
        margin: auto;
    }
    
    .col-xs-3 {
       
        width: 33%;
        align-items: center;
    }
    


 
    .col-xs-2 {
         
        float: right;
        width: 50%;
        margin-top: 20px;
    }
 
    .imageL {
        width: 50%;
        min-width: 60px;
        max-width: 70px;
    }
    
    #titre {}
    
    #image {
        width: 10%;
        min-width: 90px;
    }
#Recherche
{
    max-width: 1100px;
    background-color: #ffffff;
	display: flex;
	max-width: 1100px;
	margin:auto;
    text-align : center;
    width: 20%;
    min-width: 150px;
    min-height: 100%;
    border-width: 0px 2px 0px 0px;
    border-style: solid;
}
#Recherche input
{
    width: 600px;
}
#wrapper{
    width: 100%;
	width: 10%;
	margin-left : 47%;
}

#wrapper{
	width: 100%;
}

#sidebar-wrapper {
    width: 100%;
    overflow-y: auto;
    background: #ffffff;
}
/* Sidebar Styles */
.detail
{
    display: block;
}
.sidebar-nav {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: gray;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000000;
}
.sidebar-nav li ul {
    display: none;
    list-style-type: disc;
    border: none;

}
.sidebar-nav li ul li{
    border: none;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    border-width: 0px 0px 0px 5px;
    border-style: solid;
    border-color: gray;
    color: gray;
    background-color: lightgray;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #000000;
    background: none;
    border : none;
}
.sidebar-nav li:hover > ul{
    display: block;
}

#catalogue
{
    width: 80%;
    padding: 5px;
    align-items: center;
}
.image1
{
    max-width: 100%;
    min-width: 290px;
    margin: auto;
	width: 80%;
	padding: 5px;
	align-items: center;
    display: block;
}
.image1 a
{
    color: #000000;
    width: 100%;
    height: 100%;
    padding-bottom: 10%; 
}
.cadre_image_produit
{
    height: 140px;
    width: 250px;
}
.prix
{
    font-family: arial;
    color: rgb(194, 36, 42);
    font-weight: bold;
}
.stock1
{
    font-family: arial;
    color: #009933;
    font-weight: bold;
}
.stock2
{
    font-family: arial;
    color: rgb(194, 36, 42);
    font-weight: bold;
}
.achat
{
    background-color: #cc0000;
    color: #ffffff;
    border-color: #cc0000;
    border-radius: 5px;
    box-shadow: none;
    border-style: solid;
    position: absolute;
    bottom: 10%;
}
.panier
{
    max-height: 10px;
    max-width: 10px;
    margin: auto 5px auto auto;
}
.delimitation
{
    width: 90%;
    border: 0 solid #000000;
    border-top-width: 1px;
}
.article
{
	width: 100%;
    min-height: 255px;
}
.article button
{
    width: 80%;
    margin: auto;
    display: none;
}
.article:hover > button
{
    width: 80%;
	margin: auto;
	display: none;
}
.article:hover > button
{
	display: block;
}
.text
{
    padding-top: 1%;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 1%;
    color : #000000;
}
#vetement
{
    display: block;
}

@media screen and (max-width: 600px)
{
    .cadre_image_produit
    {
        width: 100%;
        height: 100%;
    }
    #recherche
    {
        background-color: #ffffff;
        width: 100%;
        min-width: 150px;
        min-height: 100%;
    }
    #Recherche input
    {
        max-width: 100%;
    }
    .image1
    {
        min-width: 100%;
        min-height: 100%;
        margin: 1% 0% 1% 0%;
        border-width: 0px 1px 0px 0px;
        border-style: solid;
    }
    #catalogue
    {
        width: 100%;
        padding: 5px;
        align-items: center;
    }
	#recherche
	{
		background-color: #ffffff;
		width: 100%;
		min-width: 150px;
		min-height: 100%;
	}
	#Recherche input
	{
		max-width: 100%;
	}
	.image1
	{
		min-width: 100%;
		min-height: 100%;
		margin: 1% 0% 1% 0%;
		border-width: 0px 1px 0px 0px;
		border-style: solid;
	}
	#catalogue
	{
		width: 100%;
		padding: 5px;
		align-items: center;
	}
}
.thumbnail{
    text-decoration: none;
    /*border-width: 0px;*/
}

.thumbnail:hover
{
    border: 1px solid gray;
}

 a.thumbnail:hover {
    border-color: gray;
}