body {
        width: auto;
        background-color: #d9d9d9;
    }
    
    .all {
        background: rgba(181, 12, 27, 1);
        max-width: 1200px;
        margin: auto;
    }
    
    .col-xs-3 {
       
        width: 33%;
        align-items: center;
    }
    


 
    .col-xs-2 {
         
        float: right;
        width: 50%;
        margin-top: 20px;
    }
 
    .imageL {
        width: 50%;
        min-width: 60px;
        max-width: 70px;
    }
    
  
    #image {
        width: 10%;
        min-width: 90px;
    }
    
    h1 {
        text-shadow: -1px -1px #000000, 1px 1px #000001, -3px 0 4px #000;
        font-family: Arial, Helvetica, sans-serif;
        color: #000000;
        font-weight: lighter;
        -moz-box-shadow: 2px 2px 6px #000000;
        text-align: center;
        display: block;
    }
    
    header {
        background-color: #d9d9d9;
    }
    /*
@media(max-width:1200px) {
   

    #nav3.navbar .navbar-brand {
   
        display: none;
    }
    #nav3.navbar .navbar-nav>.nav-item {
 
        display: none;
    }
    #nav3.navbar .navbar-nav {
   
        display: none;
    }
    #nav3.navbar {
   
        display: none;
    }
  /* #nav1.navbar .navbar-brand {
   
        display: none;
    }
    #nav1.navbar .navbar-nav>.nav-item {
 
        display: none;
    }
    #nav1.navbar .navbar-nav {
   
        display: none;
    }*/
    /* #nav1.navbar {
   
        display: none;
    }
    
}*/
.navbar-right{
    margin-right: 1px;
}
    
    @media(max-width:8000px) {
        #nav2.navbar {
            display: block;
        }
        #nav1.navbar {
            display: none;
        }
        #nav3.navbar {
            display: none;
        }
    }
    
 
    
    @media (max-width: 768px) {
        #nav1.navbar {
            display: block;
        }
        #nav2.navbar {
            display: none;
        }
        #nav3.navbar {
            display: none;
        }
        #nav1.navbar .navbar-header {
            float: none;
        }
        #nav1.navbar .navbar-left,
        .navbar-right {
            float: none !important;
        }
        #nav1.navbar .navbar-toggle {
        display: block;
           float:left;
    }
        #nav1.navbar .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        }
        #nav1.navbar .navbar-fixed-top {
            top: 0;
            border-width: 0 0 1px;
        }
        #nav1.navbar .navbar-collapse.collapse {
            display: none!important;
        }
        #nav1.navbar .navbar-nav {
            float: none!important;
            margin-top: 7.5px;
        }
        #nav1.navbar .navbar-nav>li {
            float: none;
        }
        #nav1.navbar .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    /*

    #nav2.navbar .navbar-nav>.nav-item {
 
        display: none;
    }
    #nav2.navbar .navbar-nav {
   
        display: none;
    }
      

    #nav3.navbar .navbar-brand {
   
        display: none;
    }
    #nav3.navbar .navbar-nav>.nav-item {
 
        display: none;
    }
    #nav3.navbar .navbar-nav {
   
        display: none;
    }

    #nav1.navbar .navbar-brand {
        float:none;
        display: block;
    }
    #nav1.navbar .navbar-nav>.nav-item {
        float: none;
        margin-left: .1rem;
    }
    #nav1.navbar .navbar-nav {
        float:none !important;
    }
*/
#contenu
{
    max-width: 1100px;
    margin: 0% auto;
    margin-bottom: 10px;
    background-color: #ffffff;
    display: flex;
}
#recherche
{
    display: block;
    width: 20%;
    border-style: solid;
    text-align: center;
    border-width: 0px 2px 0px 0px;
}
#Recherche
{
    max-width: 80%;
    margin: 100px auto 30px auto;

}
.association
{
    width: 80%;
    display: block;
    text-align: center;
    margin: 0px 10% 10px 10%;
}
.association select
{
    max-width: 100%;
}
/*#calendrier
{
    width: 90%;
    margin: 50px auto;
}
#Mois
{
    width: 100%;
    border-style: solid;
    border-width: 1px;
}
#button1
{
    height: 20px;
    width: 20%;
}
#button1 span
{
    font-size: 15px;
}
#button2
{
    height: 20px;
    width: 20%;
}
#button2 span
{
    font-size: 15px;
}
#Jour
{
    display: flex;
    width: 100%;
    border-style: solid;
    border-width:  0px 1px 1px 1px;
}
.jour
{
    width: 14.3%;
}
#Chiffre
{

    border-width: 0px 1px 1px 1px;
    border-style: solid;
}*/
#Proposer
{
    margin: 20px auto;
}

#liste_event
{
    display: block;
    width: 80%;
    margin: auto;
}
#Approuve
{
    height: 450px;
    overflow: auto;
}

.evenement
{
    display: flex;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 90%;
}
.date_actif
{
    width: 10%
}
.date
{
    width: 100%;
    margin-bottom: 5px;
}
.mois
{
    text-align: center;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}
.numero
{
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}
.description_evenement
{
    width: 90%;
    margin-left: 2%;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: gray;
}
.titre_asso
{
    display: flex;
    width: 100%;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: gray;

}
.Titre
{
    width: 50%;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: gray;
}
.Association
{
    width: 50%;
}
.descri_photo
{
    display: flex;
    width: 100%;
}
.description
{
    width: 50%;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: gray;       
}
.photo_ensemble
{
    width: 50%;
}
.photo
{
    width: 100%;
}
.separateur_haut
{
    border-style: solid;
    width: 90%;
    border-width: 0px 0px 2px 0px;
    border-color: #000000;
    margin:  5px auto 0px auto;
    text-align: center;
}
.separateur_bas
{
    border-style: solid;
    width: 90%;
    border-width: 2px 0px 0px 0px;
    border-color: #000000;
    margin: auto;
    text-align: center;
}
.mini_description
{
    height: 80%;
}
@media screen and (max-width: 800px)
{
    #contenu
    {
        display: block;
    }
    #Recherche
    {
        width: 80%;
        margin: 10px auto;
    }
    #recherche
    {
        width: 100%;
        border-width: 0px;
    }
    #Proposer input
    {
        max-width: 80%
    }
    #list_event;
    {
        width: 100%;
    }
    .liste_date
    {
        width: 25%;
    }
    .date_actif
    {
        margin: 0 0 auto;
        width: 25%;
    }
    .date
    {
        margin: 0 0 auto;
        width: 100%;
    }
    .description_evenement
    {
        width: 75%;
        margin-left: 3%;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
    }
    .Titre
    {
        width: 100%;
        border-style: solid;
        border-width: 0px 0px 1px 0px;
    }
    .Association
    {
        display: none;
        width: 0%;
    }
    .description
    {
        display: none;
        width: 0%;
        border-style: solid;
        border-width: 0px 1px 0px 0px;       
    }
    .photo_ensemble
    {
        width: 100%;
    }

}
.site
{
    color: #000000;
    background-color: #ffffff;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    margin-left: 3px;
    border-color: gray;
    margin-right: 2%;
}
.site:hover
{
    color: gray;
    background-color: lightgray;
}