.type_answer{
    margin: 2% 0;
    display: flex;
    justify-content: center;
    width: 100%;
}
.content{
    padding-left: 10px;
}
#generate{
    border: 1px solid grey;
    background-color: grey;
    border-radius: 5px;
    padding: 5px;
    margin: 0 10px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
#formdiv{
    text-decoration: none;
}
.type{
    border: 1px solid grey;
    background-color: grey;
    border-radius: 5px;
    padding: 5px;
    margin: 0 10px;
    color: white;
    text-decoration: none;
}
.type_answer > a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.type-selector > input, .type-check > input{
    margin: 5px;
}
.content{
    border: 1px solid black;
    border-radius: 10px;
    padding: 2%;
}
#question-template{
    visibility: collapse;
    height: 0;
}
#generation{
    border: 1px solid black;
    border-radius: 10px;
    padding: 2%;
}
.el-del{
    padding-left: 10px;
}
#previs{
    padding: 10px;
}
.type-input-titre, .type-input-titre, .type-input, .type-number, .space{
    margin-left: 18px;
}
.number-picker{
    width: 30px;
    margin: 5px 5px 5px 0;
}
.question-titre{
    font-size: 1.2em;
}
.selector{
    display: flex;
}
.selector > *{
    margin: 10px 10px;
}
.complet-selector{
    display: flex;
}
.titre{
    display: flex;
}
#formdiv{
    background-color: #f5f5f5;
}
#previs > input{
    margin: 5px 0;
}
#previs > .complet-selector{
    margin: 5px;
    text-align: center;
}
#previs > .complet-selector >p{
    margin: 5px;
}
#previs > p{
    margin-top: 10px;
}
