body {
        width: auto;
        background-color: #d9d9d9;
    }
    
    .all {
        background: rgba(181, 12, 27, 1);
        max-width: 1200px;
        margin: auto;
    }
    
    .col-xs-3 {
       
        width: 33%;
        align-items: center;
    }
 
    .col-xs-2 {
         
        float: right;
        width: 50%;
        margin-top: 20px;
    }
 
    .imageL {
        width: 50%;
        min-width: 60px;
        max-width: 70px;
    }
    
    #titre {}
    
    #image {
        width: 10%;
        min-width: 90px;
    }
    
    h1 {
        text-shadow: -1px -1px #000000, 1px 1px #000001, -3px 0 4px #000;
        font-family: Arial, Helvetica, sans-serif;
        color: #000000;
        font-weight: lighter;
        -moz-box-shadow: 2px 2px 6px #000000;
        text-align: center;
        display: block;
    }
    
    header {
        background-color: #d9d9d9;
    }
    /*
@media(max-width:1200px) {
   

    #nav3.navbar .navbar-brand {
   
        display: none;
    }
    #nav3.navbar .navbar-nav>.nav-item {
 
        display: none;
    }
    #nav3.navbar .navbar-nav {
   
        display: none;
    }
    #nav3.navbar {
   
        display: none;
    }
  /* #nav1.navbar .navbar-brand {
   
        display: none;
    }
    #nav1.navbar .navbar-nav>.nav-item {
 
        display: none;
    }
    #nav1.navbar .navbar-nav {
   
        display: none;
    }*/
    /* #nav1.navbar {
   
        display: none;
    }
    
}*/
.navbar-right{
    margin-right: 1px;
}
    
    @media(max-width:8000px) {
        #nav2.navbar {
            display: block;
        }
        #nav1.navbar {
            display: none;
        }
        #nav3.navbar {
            display: none;
        }
    }
    
 
    
    @media (max-width: 768px) {
        #nav1.navbar {
            display: block;
        }
        #nav2.navbar {
            display: none;
        }
        #nav3.navbar {
            display: none;
        }
        #nav1.navbar .navbar-header {
            float: none;
        }
        #nav1.navbar .navbar-left,
        .navbar-right {
            float: none !important;
        }
        #nav1.navbar .navbar-toggle {
        display: block;
           float:left;
    }
        #nav1.navbar .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        }
        #nav1.navbar .navbar-fixed-top {
            top: 0;
            border-width: 0 0 1px;
        }
        #nav1.navbar .navbar-collapse.collapse {
            display: none!important;
        }
        #nav1.navbar .navbar-nav {
            float: none!important;
            margin-top: 7.5px;
        }
        #nav1.navbar .navbar-nav>li {
            float: none;
        }
        #nav1.navbar .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    /*

    #nav2.navbar .navbar-nav>.nav-item {
 
        display: none;
    }
    #nav2.navbar .navbar-nav {
   
        display: none;
    }
      

    #nav3.navbar .navbar-brand {
   
        display: none;
    }
    #nav3.navbar .navbar-nav>.nav-item {
 
        display: none;
    }
    #nav3.navbar .navbar-nav {
   
        display: none;
    }

    #nav1.navbar .navbar-brand {
        float:none;
        display: block;
    }
    #nav1.navbar .navbar-nav>.nav-item {
        float: none;
        margin-left: .1rem;
    }
    #nav1.navbar .navbar-nav {
        float:none !important;
    }
*/
#contenu
{
    max-width: 1100px;
    margin: 0% auto;
    margin-bottom: 10px;
    background-color: #ffffff;
    display: flex;
    padding-bottom: 10px;
}
#gestion
{
    width: 100%;
}
#Approuve
{
    height: 450px;
    overflow: auto;
}

.evenement
{
    display: flex;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 90%;
}
.date_actif
{
    width: 10%
}
.date
{
    width: 100%;
    margin-bottom: 5px;
}
.mois
{
    text-align: center;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}
.numero
{
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}
.description_evenement
{
    width: 90%;
    margin-left: 2%;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: gray;
}
.titre_asso
{
    display: flex;
    width: 100%;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: gray;

}
.Titre
{
    width: 50%;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: gray;
}
.Association
{
    width: 50%;
}
.descri_photo
{
    display: flex;
    width: 100%;
}
.description
{
    width: 50%;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: gray;       
}
.photo_ensemble
{
    width: 50%;
}
.photo
{
    width: 100%;
}
.separateur_haut
{
    border-style: solid;
    width: 90%;
    border-width: 0px 0px 2px 0px;
    border-color: #000000;
    margin:  5px auto 0px auto;
    text-align: center;
}
.separateur_bas
{
    border-style: solid;
    width: 90%;
    border-width: 2px 0px 0px 0px;
    border-color: #000000;
    margin: auto;
    text-align: center;
}
.mini_description
{
    height: 80%;
}
.site
{
    color: #000000;
    background-color: #ffffff;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    margin-left: 3px;
    border-color: gray;
    margin-top: 1%;
}
.site:hover
{
    color: gray;
    background-color: lightgray;
}
.photo_g
{
    min-width: 25%;
    padding: 1%;
}
.photo_g img
{
    width: 100%;
    margin-bottom: 5px;
}
.article
{
    width: 100%;
}
.image1
{
    max-width: 100%;
    min-width: 33%;
    min-height: 255px;
    max-height: 255px;
    margin: 1% auto 1% auto;
}
.image1 a
{
    color: #000000;
}
.image1 img
{
    width: 100%
    max-height : 300px;
}
.text
{
    height: 20%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 1%
    color : #000000;
}
@media screen and (max-width: 800px)
{
    #contenu
    {
        display: block;
    }
    #Recherche
    {
        width: 80%;
        margin: 10px auto;
    }
    #recherche
    {
        width: 100%;
        border-width: 0px;
    }
    #Proposer input
    {
        max-width: 80%
    }
    #list_event;
    {
        width: 100%;
    }
    .liste_date
    {
        width: 25%;
    }
    .date_actif
    {
        margin: 0 0 auto;
        width: 25%;
    }
    .date
    {
        margin: 0 0 auto;
        width: 100%;
    }
    .description_evenement
    {
        width: 75%;
        margin-left: 3%;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
    }
    .Titre
    {
        width: 100%;
        border-style: solid;
        border-width: 0px 0px 1px 0px;
    }
    .Association
    {
        display: none;
        width: 0%;
    }
    .description
    {
        width: 100%;
        border-style: solid;
        border-width: 0px 0px 0px 0px;       
    }
    .photo_ensemble
    {
        width: 0%;
    }
    .image1
    {
        min-width: 100%;
        min-height: 400px;
        margin: 1% 0% 1% 0%;
        border-width: 0px 1px 0px 0px;
        border-style: solid;
    }

}
.site1
{
	color: #ffffff;
    background-color: red;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    margin-left: 3px;
    border-color: gray;
    display: none;

}
.button
{
	display: flex;
}

#panier-page{
    background-color: white;
    width: 100%;
    margin: 2% 0;
    border-radius: 25px;
    
    z-index: 1;
}
#panier-info {
    width: 90%;
    padding: 1% 3%;
}
#panier-info > .row{
    padding-right: 0;
    margin-left: 0 !important;
}
#panier-info >.row > p{
    font-size: 25px;
    margin: 10px 0;
}
#panier-info >.row > span{
    font-size: 47px;
    padding: 4px 0 4px 0;
}
#info{
    box-shadow: 0 2px 20px grey;
}
#info > hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
.item{
    margin: 2% 5%;
    width: 90%;
    height: auto;
    text-align: center;
}
.icon-item{
    text-align: center;
    
}
.icon-item > img{
    max-width: 200px;
}
.titre{
    text-align: left;
    margin-top: 20px;
}
.number-panier{
    margin-top: 20px;
}
.number-panier::before{
    content: 'Unité: ';
}
.item-info{
    margin-top: 20px;
}
.taille::before{
    content: "Taile: ";
}
.vr{
    height: 90%;
    width: 1px;
    border: 1px solid black;
}
.prix{
    margin-top: 20px;
    font-size: 1.3em;
    font-weight: 600;
}
.prix::after{
    content: "€";
}
.couleur{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.case{
    width: 10px;
    height: 10px;
    border: 1px solid black;
}
.red > .case{
    background-color: red;
}
.blue > .case{
    background-color: blue;
}
.green > .case{
    background-color: green;
}
#buy{
    bottom: 0;
    box-shadow: 0 2px 20px grey;
}
#buy>p>span{
    font-size: 2em;
}
#buy>button{
    font-size: 1.2em;
}
#total{
    font-size: 2em;
    margin: 10px 0;
    width: 100%;
    text-align: center;
}
#total::before{
    content: "Total: ";
}
#total::after{
    content: " €";
}
#itemzone{
    overflow: scroll;
    height: 72%;
}
.panier-remove{
    text-align: center;
    border-radius: 100px;
    padding: 0;
    float: right;
    width: 50px;
    height: 50px;
    margin-top: 50px;

}
#acheter{
    width: auto;
    margin: 10px 0;
}
.Image_Caroussel
{
	width: 75%;
	margin: 3% auto;
	display: flex;
}
.cadre_image_caroussel
{
	width: 50%;
}
.titre_button
{
	width: 50%;
	padding-left: 15%;
}
.titre_image_carousel
{
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
	font-size: 35px;
}
.button_image_carousel
{
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
	font-size: 15px;
}
.separateur
{
	border-width: 2px 0 0 0;
	border-style: solid;
	border-color: #000000;
	width: 90%
}
.prix::before{
    content: "Prix: ";
}
.prix::after{
    content: '€';
}
.prix{
    float: right;
    font-size: medium;
}
.no-prix{
    display: none;
}
.choix{
    display: flex;
    justify-content: space-between;
}
.choix1,.choix2{
    color: #C2242A !important;
}
.card-max{
    height: 600px;
}
.activity-descr{
    height: 160px;
    overflow: scroll;
    overflow-x: hidden;
    text-align: justify;
    justify-content: center;
}
.date{
    padding-top: 10px;
    font-weight: bold;
    font-size: 1.2em;
}
::-webkit-scrollbar
{
    width: 7px;  /* for vertical scrollbars */
    height: 10px; /* for horizontal scrollbars */

}

::-webkit-scrollbar-track
{
    background: transparent;
}
::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}