#erreur_nom
{
    display: none;
}
#erreur_date
{
    display: none;
}
#erreur_heure_debut
{
    display: none;
}
#erreur_heure_fin
{
    display: none;
}
#erreur_asso
{
    display: none;
}
#erreur_desc
{
    display: none;
}