html,body{
    font-family: arial,ssans,sans-serif;
    font-weight: 400;
    height: 100%;

}
#footer_end .lien{
    text-decoration: none;
    color: inherit;
}
.lien_footer li{
    margin-bottom: 2px;
    margin-top: 2px;
}
.lien_footer li a{
    text-decoration: none;
    color: inherit;
    font-size: 1.3em;
}
#footer_end{
    background-color: #9f1f25;
    padding: 25px 25px;
    font-size: 1.2em;
    color: #bfbfbf;
}
#footer{
    width: 100%;
    font-size: 1.2em;
    background-color: #C2242A;
    color: whitesmoke;
}
#footer_info{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}