.all {
    background: #3C3B5C;
    width: 60%; 
    margin: auto;

}
#all {
    
     
    margin: auto;

}

#container-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*.navbar-nav{
    width: 60% !important;

}*/
#testt{
    display: flex;
    justify-content: flex-end;

}

#container {
    
    
   width: 100%; 
    margin: auto;
}


#Image {
   
  
 
}

#image {
    
   width: 50%;
}
#titre
{
    

  
}



header {
    background-color: #d9d9d9;
}

body {
    background-color: #d9d9d9;

}
